html, body {
  background: #ede7e3;
  font-family: "Roboto", sans-serif;
}

#topbar {
  background-color: #16697a;
  width: 100%;
  vertical-align: top;
  height: 60px;
  margin: 0px;
}

input {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  background-color: #C6DABF;
  border-radius: 15px;
}

